body {
    background-color: black;
    color: white;
    margin: 0;
    font-size: 2vw;
}
main {
    background-color: white;
    max-width: 100%;
    margin: auto;
    color: black;
}
div, main, header {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 2em;
    line-height: 1.25;
}

h1, h2 {
    font-size: 5em;
}
.full-view{
    min-height: 100vh;
}
/* Scrolling style */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    background: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
    height: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}

.main-nav {
    width: 100%;
    position: relative;
    top: -20vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

/*MENU CSS*/
.nav-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 5vh;
    text-align: center;
    padding: 1em;
}
.nav-links a {
    margin: 0.5em;
}

.nav-links a:hover {
    color: black;
    background: white;
}

.stick-top {
    position: fixed;
    top: 0;
    transition: all 0.5s ease;
}

.navSpacer{
    height: 10vh;
}

.menu-bar {
    position: fixed;
    font-size: 6vh;
    top: 5vh;
    right: 4vw;
    display: none;
    z-index: 5;
}


/*Header CSS*/
.header {
    height: 10%;
    border: 1px solid white;
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}

@media (max-width: 775px) {
    .menu-bar {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
    }

    p {
        font-size: 4em;
        line-height: 1.5;
    }
}

.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 0;
    background-color: black;
}

/*Footer CSS*/
.footer {
    border: 1px solid white;
    max-width: 960px;
    margin: auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.social-media-links {
    display: flex;
    justify-content: space-around;
}
.icon-background {
    border-radius: 50%;
    background-color: white;
    height: 40px;
    width: 40px;
}
.icon-background a {
    color: black;
    text-align: center;
    font-size: 2em;
    padding-left: 7px;
}


/*Home Page*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/hero.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6em;
    width: 100vw;
}