*,
*::before,
*::after {
	box-sizing: border-box;
}

/*Whole elements*/
body {
    background: #544B3D;
    color: #FCF7F8;
    margin: 0;
    font-size: 12px;
    overflow-x: hidden;
    font-family: 'Saira Extra Condensed','Poppins', 'Muli', sans-serif;
    letter-spacing: 1px;
}

main {
    background-color: white;
    max-width: 100%;
    margin: auto;
    color: black;
}

div, main, header {
    display: block;
}

p {
    font-size: 2rem;
    line-height: 1.25;
    margin: 0.25rem;
}

ul {
    list-style: none;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 4rem;
    text-align: center;
}
h3 {
    font-size: 3rem;
    text-align: center;
}
a{
    color: white;
}
section {
    padding: 0.25rem 0;
}

.grayFont {
    color: gray;
}

.firstSection {
    margin: 53px 0 0 0;
}

/*Sections*/
.fullView{
    width: 65%;
    margin: 0 auto 5rem;
}

.accent {
    border-left: 5px solid #7CFFC4;
    background: rgba(182, 175, 164, 0.6);
    padding: 0.25rem;
    margin: 1rem;
    font-size: 2rem;
}

.disclaimer {
    font-size: 1rem;
    display: block;
    margin-top: 4rem;
}

/*Navigation*/
.navLinks {
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding: 0;
    margin: 0 auto;
}

.navLinks li {
	display: inline-flex;
}

.navLinks a {
    position: relative;
    font-size: 2rem;
	padding: 1rem 0 0.5rem;
	margin: 0 1.5rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.navLinks a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.8);
    transition: transform 250ms;
}

.navLinks a:hover::after {
	transform: translateX(-50%) scaleX(1);
}

.navSpacer{
    height: 5rem;
}

.navAnchor {
    position: relative;
    top: -8rem;
}

.mainNav {
    height: 8rem;
    width: 100%;
    position: absolute;
    top: 100%;
}
.sideNav {
    top: 10%;
}
.navPosAfterAnimation {
    top: 85%;
}

.desktopMenuAnimation {
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-name: animateDesktopMenu;
    animation-fill-mode: forwards;
}

@keyframes animateDesktopMenu {
    0% {
        top: 100%;
    }
    100% {
        top: 85%;
    }
}

/*Menu for mobile*/
.menuButton {
    position: fixed;
    font-size: 2.5rem;
    top: 0.5rem;
    right: 0.4rem;
    display: none;
    z-index: 5;
}


/*Hero Image*/
.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.10)), url("/img/hero-small.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    animation-duration: 1s;
    animation-delay: .6s;
    margin-top: 100vh;
    animation-name: animateHeroImageDesktop;
    animation-fill-mode: forwards;
}

@keyframes animateHeroImageDesktop {
    0% {
        margin-top: 100vh;
    }
    100% {
        margin-top: 0vh;
    }
}

.heroText {
    text-align: center;
    position: absolute;
    color: white;
    width: 100vw;
    top: 100%;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-name: animateHeroTextDesktop;
    animation-fill-mode: forwards;
}

@keyframes animateHeroTextDesktop {
    0% {
        font-size: 0rem;
        top: 100%;
    }
    1% {
        font-size: 6rem;
    }
    100% {
        top: 55%;
        font-size: 6rem;
    }
}

@keyframes animateHeroTextMobile {
    0% {
        font-size: 0rem;
        top: 100%;
    }
    1% {
        font-size: 4rem;
    }
    100% {
        top: 65%;
        font-size: 4rem;
    }
}

/*Header CSS*/
.header {
    height: 10%;
    border: 1px solid white;
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}

/*Footer CSS*/
.footer {
    box-sizing: border-box;
    background-color: black;
    height: 45%;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

/*List modifications*/
.centerContainer {
    display: flex;
    justify-content: center;
}

.cleanLink {
    text-decoration: none;
    color: white;
}

/*Social media links*/
.socialMediaLinks {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}
.socialMediaLinks a {
    font-size: 3rem;
    text-decoration: none;
}

.desktopMenuScrollAnimation {
    position: fixed;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: animateDesktopNavScroll;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
}

/*Job Position section*/
.jobPosition h2,
.jobPosition h3 {
    text-align: left;
    padding: 0;
    margin: 0;
}
.jobPosition h3 {
    padding: 0 .25rem;
}
.locationSec label:nth-child(2){
    float: right;
}
.jobPosition label {
    font-size: 2rem;
    padding: 0.5rem;
}
.jobDesc {
    list-style-type: square; 
}
.jobDesc li{
    font-size: 1.5rem;
}

@keyframes animateDesktopNavScroll {
    from{
        top: -10%;
    }
    to {
        top: 0;
    }
}

/*Two cols */
.twoCols {
    display: flex;
    margin: 8rem 0;
}

.twoCols h2 {
    flex: 1 0 20vw;
    font-size: 3rem;
    text-align: left;
    margin: auto;
}

.twoCols .stack {
    flex: 1 0 60%;
}

.loader {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0vh;
    animation-duration: 1s;
    animation-name: toBottom;
    animation-fill-mode: forwards;
}

.loader:nth-child(1){
    animation-delay: 0s;
}
.loader:nth-child(2){
    animation-delay: 0.2s;
}
.loader:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes toBottom {
    0%{
        margin-bottom: 100vh;
    }

    75% {
        margin-bottom: 0vh;
        height: 100vh;
    }
    
    100% {
        height: 0vh;
    }
}


/*Colors selected*/
.thirdColor {
    background-color: #544B30;
    animation-delay: 0.2s;
}
.secondColor {
    background-color: #7CFFC4;
    animation-delay: 0.1s;
}
.firstColor {
    background-color: #336699;
    animation-delay: 0s;
}
.darkLiver {
    background-color: #544B30;
    animation-delay: 1s;
}
.teaGreen {
    background-color: #C5EBC3;
    animation-delay: 0.75s;
}
 
.zinnColor{
    background-color: #291711;
}  
.crimson {
    background-color: #E3170A;
}

.lazuli {
    background-color: #336699;
}

.aqua {
    background-color: #7CFFC4;
}



/*Drawers*/
.recipeDrawer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.recipeDrawer label {
    padding: 0.5rem;
    font-size: 2rem;
    display: block;
    font-weight: 900;
    color: white;
}
.recipeDrawer > label {
    color: #291711;
}
.recipeDrawer > label:hover {
    cursor: pointer;
}
.recipeContainer {
    color: white;
    padding: 1rem;
    height: 0;
    display: none;
}

.iconStyle {
    border-radius: 25rem;
    float: right;
    padding: 0.25rem;
}

/*For mobile fixing*/
@media (max-width: 775px) {
    body {
        font-size: 18px;
        max-width: 100vw;
        overflow-x: hidden;
    }

    p {
        font-size: 2rem;
        line-height: 1.5;
    }

    h3 {
        font-size: 2rem;
    }

    .menuButton {
        display: block;
    }
    
    .navLinks {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 0;
        background-color: black;
        position: fixed;
        bottom: -100%;
        z-index: 4;
    }

    .navLinksRev {
        transition-delay: 0s;
    }
    .mLoader {
        display: block;
        width: 100vw;
        height: 0vh;
        position: fixed;
        bottom: -10%;
        transition: height 0.5s, bottom 0.5s;
        z-index: 1;
    }
  
    .socialMediaLinks a {
        font-size: 1rem;
    }

    .navSpacer {
        height: 2rem;
    }

    .navPosAfterAnimation {
        top: 0;
    }

    .navAnchor {
        top: 0;
    }

    .desktopMenuScrollAnimation {
        background: none;
    }

    .twoCols{
        flex-direction: column;
        margin: 0;
    }
    .twoCols h2 {
        font-size: 4rem;
    }

    .fullView {
        width: 90%;
    }

    .heroText {
        text-align: center;
        position: absolute;
        width: 100vw;
        animation-name: animateHeroTextMobile;
    }

    .centerContainer {
        flex-direction: column;
    }

    .locationSec {
        display: flex;
        flex-direction: column;
    }
}

.openMobileMenu {
    animation-name: animateOpenMobileMenu;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}

@keyframes animateOpenMobileMenu {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.closeMobileMenu {
    animation-name: animateCloseMobileMenu;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    bottom: 0;
}

@keyframes animateCloseMobileMenu {
    0% {
        height: 100%;
        bottom: 0;
    }
    99% {
        bottom: 0;
        height: 0;
    }
    100% {
        bottom: -100%;
    }
}

.mLoader.show:nth-child(1){
    transition-delay: 0s;
    z-index: 1;
}
.mLoader.show:nth-child(2){
    transition-delay: 0.1s;
    z-index: 2;
}
.mLoader.show:nth-child(3){
    transition-delay: 0.2s;
    z-index: 3;
}

.mLoader:nth-child(1){
    transition-delay: 0.3s;
    z-index: 1;
}
.mLoader:nth-child(2){
    transition-delay: 0.2s;
    z-index: 2;
}
.mLoader:nth-child(3){
    transition-delay: 0.1s;
    z-index: 3;
}

.show {
    bottom: 0;
}
