*,
*::before,
*::after {
	box-sizing: border-box;
}

/*Whole elements*/
body {
    background: #544B3D;
    color: #FCF7F8;
    margin: 0;
    font-size: 12px;
    overflow-x: hidden;
    font-family: 'Saira Extra Condensed','Poppins', 'Muli', sans-serif;
    letter-spacing: 1px;
}

main {
    background-color: white;
    max-width: 100%;
    margin: auto;
    color: black;
}

div, main, header {
    display: block;
}

p {
    font-size: 2em;
    line-height: 1.25;
    margin: 0.25em;
}

ul {
    list-style: none;
}

h1 {
    font-size: 5em;
    text-align: center;
}

h2 {
    font-size: 4em;
    text-align: center;
}
h3 {
    font-size: 3em;
    text-align: center;
}
a{
    color: white;
}

/*Sections*/
.fullView{
    width: 75%;
    margin: 0 auto;
}

.accent {
    border-left: 5px solid #7CFFC4;
    background: rgba(182, 175, 164, 0.6);
    padding: 0.25em;
    margin: 1em;
    font-size: 2em;
}

/*Navigation*/
.navLinks {
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding: 0;
    margin: 0 auto;
}

.navLinks li {
	display: inline-flex;
}

.navLinks a {
    position: relative;
    font-size: 2em;
	padding: 1rem 0 0.5rem;
	margin: 0 1.5rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.navLinks a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.8);
    transition: transform 250ms;
}

.navLinks a:hover::after {
	transform: translateX(-50%) scaleX(1);
}

.navSpacer{
    height: 5em;
}

.navAnchor {
    position: relative;
    top: -9em;
}

.mainNav {
    height: 8em;
    width: 100%;
    position: absolute;
    top: 100%;
}
.navPosAfterAnimation {
    top: 90%;
}

.desktopMenuAnimation {
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-name: animateDesktopMenu;
    animation-fill-mode: forwards;
}

@keyframes animateDesktopMenu {
    0% {
        top: 100%;
    }
    100% {
        top: 90%;
    }
}

/*Menu for mobile*/
.menuButton {
    position: fixed;
    font-size: 2.5em;
    top: 0.5em;
    right: 0.4em;
    display: none;
    z-index: 5;
}


/*Hero Image*/
.heroImage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.10)), url("/img/hero-small.jpg");
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.heroText {
    text-align: center;
    position: absolute;
    color: white;
    width: 100vw;
    top: 100%;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-name: animateHeroTextDesktop;
    animation-fill-mode: forwards;
}

@keyframes animateHeroTextDesktop {
    0% {
        font-size: 0em;
        top: 100%;
    }
    1% {
        font-size: 6em;
    }
    100% {
        top: 65%;
        font-size: 6em;
    }
}

@keyframes animateHeroTextMobile {
    0% {
        font-size: 0em;
        top: 100%;
    }
    1% {
        font-size: 4em;
    }
    100% {
        top: 65%;
        font-size: 4em;
    }
}

/*Header CSS*/
.header {
    height: 10%;
    border: 1px solid white;
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}

/*Footer CSS*/
.footer {
    box-sizing: border-box;
    background-color: black;
    height: 45%;
    padding: 3em;
    display: flex;
    justify-content: center;
}

/*List modifications*/
.centerContainer {
    display: flex;
    justify-content: center;
}

.cleanLink {
    text-decoration: none;
    color: white;
}

/*Social media links*/
.socialMediaLinks {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}
.socialMediaLinks a {
    font-size: 3em;
    text-decoration: none;
}

.desktopMenuScrollAnimation {
    position: fixed;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: animateDesktopNavScroll;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
}

@keyframes animateDesktopNavScroll {
    from{
        top: -10%;
    }
    to {
        top: 0;
    }
}

/*Two cols */
.twoCols {
    display: flex;
    margin: 8em 0;
}

.twoCols h2 {
    flex: 1 0 20vw;
    font-size: 2em;
    text-align: left;
    margin: auto;
}

.twoCols .stack {
    flex: 1 0 60%;
}

.loader {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0vh;
    animation-duration: 1s;
    animation-name: toBottom;
    animation-fill-mode: forwards;
}

@keyframes toBottom {
    0%{
        margin-bottom: 100vh;
    }

    75% {
        margin-bottom: 0vh;
        height: 100vh;
    }
    
    100% {
        height: 0vh;
    }
}


/*Colors selected*/
.thirdColor {
    background-color: #544B30;
    animation-delay: 0.2s;
}
.secondColor {
    background-color: #7CFFC4;
    animation-delay: 0.1s;
}
.firstColor {
    background-color: #3066BE;
    animation-delay: 0s;
}
.darkLiver {
    background-color: #544B30;
    animation-delay: 1s;
}
.teaGreen {
    background-color: #C5EBC3;
    animation-delay: 0.75s;
}


/*For mobile fixing*/
@media (max-width: 775px) {
    body {
        font-size: 18px;
        max-width: 100vw;
        overflow-x: hidden;
    }
    .menuButton {
        display: block;
    }
    p {
        font-size: 2em;
    }
    .navLinks {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 0;
        background-color: black;
        position: fixed;
        bottom: -100%;
        z-index: 4;
    }
    .navLinksRev {
        transition-delay: 0s;
    }
    .mLoader {
        display: block;
        width: 100vw;
        height: 0vh;
        position: fixed;
        bottom: -10%;
        transition: height 0.5s, bottom 0.5s;
        z-index: 1;
    }

    p {
        line-height: 1.5;
    }

    .socialMediaLinks a {
        font-size: 1em;
    }

    .navSpacer {
        height: 2em;
    }

    .navPosAfterAnimation {
        top: 0;
    }

    .navAnchor {
        top: -1em;
    }

    .desktopMenuScrollAnimation {
        background: none;
    }

    .twoCols{
        flex-direction: column;
    }
    .twoCols h2 {
        font-size: 5em;
    }

    .fullView {
        width: 100%;
    }

    .heroText {
        text-align: center;
        position: absolute;
        width: 100vw;
        animation-name: animateHeroTextMobile;
    }
}

.openMobileMenu {
    animation-name: animateOpenMobileMenu;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}

@keyframes animateOpenMobileMenu {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.closeMobileMenu {
    animation-name: animateCloseMobileMenu;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
    bottom: 0;
}

@keyframes animateCloseMobileMenu {
    0% {
        height: 100%;
        bottom: 0;
    }
    99% {
        bottom: 0;
        height: 0;
    }
    100% {
        bottom: -100%;
    }
}

.mLoader.show:nth-child(1){
    transition-delay: 0s;
    z-index: 1;
}
.mLoader.show:nth-child(2){
    transition-delay: 0.1s;
    z-index: 2;
}
.mLoader.show:nth-child(3){
    transition-delay: 0.2s;
    z-index: 3;
}

.mLoader:nth-child(1){
    transition-delay: 0.3s;
    z-index: 1;
}
.mLoader:nth-child(2){
    transition-delay: 0.2s;
    z-index: 2;
}
.mLoader:nth-child(3){
    transition-delay: 0.1s;
    z-index: 3;
}

.show {
    bottom: 0;
}
