body {
    background: #544B3D;
    color: #FCF7F8;
    margin: 0;
    font-size: 2vw;
    overflow-x: hidden;
    font-family: 'Poppins', 'Muli', sans-serif;
}
main {
    background-color: white;
    max-width: 100%;
    margin: auto;
    color: black;
}
div, main, header {
    display: block;
}

nav a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

p, li {
    font-size: 2em;
    line-height: 1.25;
    margin: 0.25em;
}

h1 {
    font-size: 5em;
    text-align: center;
}

h2 {
    font-size: 4em;
    text-align: center;
}
h3 {
    font-size: 3em;
    text-align: center;
}
.full-view{
    min-height: 100vh;
    padding: 0 1em;
}
/* Scrolling style */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    background: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: black; 
    height: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.main-nav {
    width: 100%;
    height: 20vh;
    position: relative;
    top: -20vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
}

.test {
    border-left: 5px solid #7CFFC4;
    background: rgba(182, 175, 164, 0.6);
    padding: 0.25em;
}
.top {
    top: 0;
}

.center {
    text-align: center;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}

/*MENU CSS*/
.nav-links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1em;
}
.nav-links a {
    margin: 0.5em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav-links li {
    display: inline-flex;
}
.nav-links li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.8);
    transition: transform 250ms;
}
	
.nav-links a:hover::after {
	transform: translateX(-50%) scaleX(1);	
}

.navAnchor {
    position: relative;
    top: -20vh;
}

.stick-top {
    position: fixed;
    top: 0;
    transition: all 0.5s ease;
}

.navSpacer{
    height: 10vh;
}

.menu-bar {
    position: fixed;
    font-size: 6vh;
    top: 5vh;
    right: 4vw;
    display: none;
    z-index: 5;
}


/*Header CSS*/
.header {
    height: 10%;
    border: 1px solid white;
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}

@media (max-width: 775px) {
    .menu-bar {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
    }

    p {
        font-size: 4em;
        line-height: 1.5;
    }
    h1 {
        font-size: 6em;
    }
    h2, h3 {
        font-size: 5em;
    }
    .social-media-links {
        font-size: 1.5em;
    }

    .navAnchor {
        top: 0;
    }
}

.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 0;
    background-color: black;
}

/*Footer CSS*/
.footer {
    box-sizing: border-box;
    background-color: black;
    height: 45vh;
    padding: 5vh;
    display: flex;
    justify-content: center;
}

.social-media-links {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}
.social-media-links a {
    text-decoration: none;
}

.icon {
    color: white;
    font-size: 2em;
}


/*Home Page*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/hero-small.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 6em;
    width: 100vw;
}

/*Container to center items*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10vh;
}

/*Link Mods*/
.cleanLink {
    text-decoration: none;
    font-size: 2em;
}

/*Themes */
.dark-theme {
    color: black;
}

.light-theme {
    color: white;
}
